body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.griddle-table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.griddle-filter {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
  color: black;
  background: transparent;
  border: 1px solid black;
  height: 32px;
}

.griddle-noResults{
  margin-top: 40px;
  font-size: 20;
  margin-left: 10px;
  margin-bottom: 30px;
}

.griddle-table-heading {
  text-align: left;
}

.griddle-table-heading-cell {
  text-align: center;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: tnum;
  -moz-font-feature-settings: tnum;
  -ms-font-feature-settings: tnum;
  -webkit-font-feature-settings: tnum;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: calc(0.75rem - 1px);
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
}

.griddle-table-heading-cell:first-child {
  padding-left: 0;
  text-align: left;
}
.griddle-table-heading-cell:last-child {
  padding-right: 0;
  text-align: left;
}

.griddle-table-body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  box-sizing: inherit;
}

.griddle-row {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  box-sizing: inherit;
  &:hover{
    background-color: #F5F5FB;
  }
}

.griddle-cell {
  text-align: center;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: tnum;
  -moz-font-feature-settings: tnum;
  -ms-font-feature-settings: tnum;
  -webkit-font-feature-settings: tnum;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: calc(0.75rem - 1px);
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  height: 55px;
}

.griddle-cell:first-child {
  text-align: left;
  padding-left: 0;
  color: #000000;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
}

.griddle-cell:last-child {
  padding-right: 0;
  text-align: left;
}

.griddle-page-select{
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
  color: black;
  background: transparent;
  border: 1px solid black;
  height: 32px;
}
.griddle-next-button{
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px;
  color:black;
  background: transparent;
  border: 1px solid rgb(48, 17, 17);
  height: 32px;
}
.griddle-previous-button{
  border-radius: 5px;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 0 5px 0 5px;
  color: black;
  background: transparent;
  border: 1px solid black;
  height: 32px;
}
